'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Resize Image'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-image-resize:toggle'
        }
      ]
    ]
  }
]
